body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #444;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button {
  background-color: #f44336;
}

.edit-button {
  background-color: #002fff;
}

button.edit-button:hover {
  background-color: #011fa8;
}

button.delete-button:hover {
  background-color: #970d03;
}

.generar-informes-button {
  background-color: #001799;
}

button.generar-informes-button:hover {
  background-color: #011fc9;
}

button:hover {
  background-color: #45a049;
}

form input {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}